$primary:#A27B5C;
$light:#DCD7C9;
$dark:#3F4E4F;

.navbar-nav{
    align-items: center;
}
.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}
.swiper{
padding: 4rem 0!important;
}

.swiper-wrapper {
margin-bottom: 2rem;
}
.swiper-slide{
    padding: 0 2rem;
}
@import '~bootstrap/scss/bootstrap.scss';